{% set state = order.paymentState %}
{% set label = 'primary' %}
{% set gateway = null == order.payment.method ? 'undefined' : order.payment.method.gateway %}

{% if 'pending' == state and 'contrareembolso' != gateway %}
    {% set label = 'warning' %}
{% elseif 'completed' == state %}
    {% set label = 'success' %}
{% elseif 'failed' == state %}
    {% set label = 'danger' %}
{% endif %}

{% set title = gateway == 'contrareembolso' and state == 'pending' ? 'sylius.payment.state.contrareembolso.self' : gateway == 'transferencia' and state == 'pending' ? 'sylius.payment.state.transferencia.self' : 'sylius.payment.state.' ~ state %}

{% if state == 'pending' %}
	{% if gateway == 'contrareembolso' or gateway == 'transferencia' %}
		<a href="{{ path('sylius_backend_order_complete_payment', {'id': order.id}) }}" class="nounderline">
			<span class="label label-{{ label }} {{ gateway }}" data-txt="{{ title|trans|title }}" data-alter="{{ ('sylius.payment.state.' ~ gateway ~ '.alter')|trans|title }}">{{ title|trans|title }}</span>
		</a>
	{% endif %}
{% else %}
	<span class="label label-{{ label }}">{{ title|trans|title }}</span>
{% endif %}
