{% block subject %}
    {% autoescape false %}
    {{ 'email.order_confirmation.subject'|trans({'%number%': order.number}) }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
	<p>{{ 'email.order_confirmation.text'|trans({'%firstName%': order.user.firstName, '%number%': order.number})|raw }}</p>
	<p>{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ path('sylius_account_order_show', { 'number': order.number }) }}</p>
	<p>{{ 'email.order_confirmation.text2'|trans|raw }}</p>
	<p>{{ 'email.order_confirmation.text3'|trans|raw }}</p>
{% endblock %}

{% block body_html %}
	<p>{{ 'email.order_confirmation.text'|trans({'%firstName%': order.user.firstName, '%number%': order.number})|raw }}</p>
	<p>{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ path('sylius_account_order_show', { 'number': order.number }) }}</p>
	<p>{{ 'email.order_confirmation.text2'|trans|raw }}</p>
	<p>{{ 'email.order_confirmation.text3'|trans|raw }}</p>
{% endblock %}
