<div class="product-box {% if show_ribbon(product) %}offer-corner-png{% endif %}">
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
        <img class="img-rounded img-responsive" src="{{ product.image ? product.image.path|imagine_filter('sylius_product_box') : 'http://placehold.it/262x160' }}" alt="{{ product.name }}" />
        {% if show_ribbon(product) %}
      		<p><span>{{ 'sylius.product.offer'|trans }}</span><img src="{{ asset('bundles/syliusweb/img/offer-ribbon.png') }}" alt="offer ribbon" /></p>
      	{% endif %}
        <h4>{{ product.name|upper }}</h4>
        <span class="label label-primary">{{ sylius_calculate_price(product)|product_promotion(product.id)|tax_rate(product.id)|sylius_price }}</span>
        {% if show_ribbon(product) %}
            <span class="label label-default" style="text-decoration:line-through">{{ sylius_calculate_price(product)|tax_rate(product.id)|sylius_price }}</span>
        {% endif %}
        <!--<button class="btn btn-special btn-xs pull-right"><i class="icon-shopping-cart icon-white"></i> {{ 'sylius.add_to_cart'|trans }}</button>-->
    </a>
</div>
