{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.content'|trans }}</li>
    <li><a href="{{ path('sylius_backend_noticia_index') }}">{{ 'sylius.breadcrumb.noticia.index'|trans }}</a></li>
    <li>{{ noticia.titulo }}</li>
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.noticia.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_noticia_update', {'id': noticia.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Noticia:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
        var uri = "{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ app.request.baseUrl ~ '/media/image/page/' }}";
	</script>
    {{ tinymce_init() }}
{% endblock %}
